---
import Expandable from '../components/expandable.astro'
import PhotoSpread from '../components/photo-spread.astro'
import {Image} from 'astro:assets'
import volvoLogo from '../assets/volvo-logo.svg'
import axisLogo from '../assets/axis-logo.svg'
import ikeaLogo from '../assets/ikea-logo.svg'
import kockumsLogo from '../assets/kockums-logo.svg'
import eonLogo from '../assets/eon-logo.svg'
import secDirLogo from '../assets/secdir-logo.svg'
import okgLogo from '../assets/okg-logo.svg'
import ProjectPanel from '../components/project-link-panel.astro'
import b3skilledLogo from '../assets/b3skilled-logo.svg'
import Layout from '../layouts/layout.astro'
---
<Layout largeHero={true}>
	<main>
		<section>
			<Expandable initialHeight="23rem">
				<h2>Personal projects</h2>

				
				<ProjectPanel
					icon="ha-astro-integration"
					title="Astro Hyperapp Integration"
					details="Hyperapp islands in your Astro site"
					url="/projects/hyperapp"
				/>

				
				<ProjectPanel
					icon="transition"
					title="Transition group web-component"
					details="Framework-agnostic entry/exit/shift animations."
					url="/projects/transition-group"
				/>
				
				<ProjectPanel
					icon="multiplication"
					title="Multiplication trainer"
					details="Web app for learning multiplication tables. Offline-capable, phone-optimized."
					url="https://github.com/zaceno/arithmetist"
				/>
				
			
				<ProjectPanel
					icon="state"
					title="useHyperState"
					details="React hook for Hyperapp-like state management. A better useReducer."
					url="https://github.com/zaceno/usehyperstate"
				/>
				
				<ProjectPanel
					icon="lit"
					title="Hyperlit"
					details="TTL for writing JSX-like views in Hyperapp without the build step"
					url="https://github.com/zaceno/hyperlit"
				/>
	
				<ProjectPanel
					icon="gui"
					title="7GUIs Hyperapp"
					details="Solving the 7GUIs challenge with Hyperapp."
					url="https://zaceno.github.io/sevenguis-hyperapp/#"
				/>
			
				<ProjectPanel
					icon="code"
					title="Hyperapp Code-along"
					details="Video-tutorial series, from 'Hello World' to TodoMVC – with Hyperapp."
					url="https://zaceno.github.io/codealong-hyperapp/"
				/>
			</Expandable>
		</section>
		
		<section>
			<Expandable initialHeight="23rem">
				<h2>Professional Work</h2>
				<article>
					<p class="logo-line">
						<Image src={eonLogo} alt="e.on logo" height="22"/>
						<Image src={kockumsLogo} alt="kockums logo" height="48"/>
						<Image src={okgLogo} alt="okg logo" height="36"/>
						<Image src={secDirLogo} alt="securitas direct logo" height="48"/>
						<Image src={axisLogo} alt="axis communications logo" height="32"/>
						<Image src={ikeaLogo} alt="ikea logo" height="28"/>
						<Image src={volvoLogo} alt="volvo cars logo" height="44"/>
					</p>
					<p>
						Over the last 17+ years I've built a broad base of web-related experience at several large firms in the region.   
					</p>
					<p>
						I got my start with PHP and MySQL, but specialized in front-end. Though I 
						worked as scrum-master, agile coach or project manager for much of that time,
						I remained an active front-end coder as a matter of personal interest. 
					</p>	
					<p>
						Currently employed as a consultant at B3 Skilled, available for web development assignments,
						especially where front-end, project/team management or senior experience is needed. Need someone like that?
						Feel free to reach out!
					</p>
					<p style="text-align:center">
						<a style="cursor: pointer" href="&#x6d;ailto:zacharias.enochsson&#x40;b3skilled.se"><Image src={b3skilledLogo} alt="B3 Skilled logo" height="32" /></a>
													
					</p>
				</article>	
			</Expandable>
		</section>
			
		<section>
			<h2> In repose </h2>
			<article id="in-repose">
				<PhotoSpread />					
				<p>
					Having grown up a bit all over the globe – in Sweden, the States and East Africa, I've settled in Lund with my wife and kids.
					When I'm not spending time with them, I'll be noodling on the ukulele, playing video games, folding origami or studying philosophy.
				</p>
				<p>
					 I love the outdoors. Solo hiking is good for the soul. I dream of sailing the open seas to turquoise shores (I just need a boat. And to learn how to sail).
				</p>	
			</article>
		</section>
	
	</main>

</Layout>
<style>



.logo-line {
	line-height: 64px;
	text-align: center;
}
.logo-line img {
	margin: 0 0.4rem;
	vertical-align: middle;
}


#in-repose {
	min-height: 30vw;
	container-type: block;
}
		

/* Small devices (portrait tablets and large phones, 600px and up)*/
	@media only screen and (min-width: 600px) {
		section {
			margin-left: 10vw;
			margin-right: 10vw;
		}
	} 
	
	/* Medium devices (landscape tablets, 768px and up) */
	@media only screen and (min-width: 768px) {
		section {
			margin-left: 0;
			margin-right: 0;
			flex: 1 1 45vw;
		}
		main {
			margin-left: 2vw;
			margin-right: 2vw;
			display: flex;
			flex-wrap: wrap;
			gap: 2vw;
			align-content: flex-start;
		}
	} 
	/* Large devices (laptops/desktops, 992px and up)  */
	@media only screen and (min-width: 992px) {
		section {
			margin-left: 0;
			margin-right: 0;
			flex: 1 1 40vw;
		}
		main {
			margin-left: 8vw;
			margin-right: 8vw;
			gap: 4vw;
		}
		#in-repose {
			min-height: 26vw;
		}

	}
	/* Extra large devices (large laptops and desktops, 1200px and up)*/
	@media only screen and (min-width: 1200px) {
		section {
			flex: 1 1 20vw;
		}
	}  
		
	
</style>