---
import './main-layout.css'
import Header from './header/header.astro'
const {largeHero} = Astro.props
const pageTitle = Astro.props.title || ''
const description = Astro.props.description || pageTitle
const mainTitle = "Zacharias Enochsson Web Developer Portfolio"
const finalTitle = pageTitle ? `${pageTitle} - ${mainTitle}` : mainTitle
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content={description}>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <slot name="head-extra" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="mask-icon" href="/favicon.svg" color="#000000" />
    <title>{finalTitle}</title>
  </head>
  <body class="body-bg">
    <Header largeHero={largeHero} bodyBgClass="body-bg" />
    <slot />
  </body>
</html>
